@page
@model AppAgendamentos.ViewModels.SchedulingViewModel

@* @{
ViewData["Title"] = "Create";
} *@
@* <h1>@ViewData["Title"]</h1> *@
<div class="company-information" style="text-align: center;">
    <img src="https://pbs.twimg.com/media/EfOeE08X0AEdlB6.jpg" height="200px"></img>

    <h1 style="text-align: center;">Company</h1>
    <h3 style="text-align: center;">Description of the services of the company</h3>
</div>

<div class="services">
    <div class="row">
        <div class="col-md-5">
            @Html.Label("Serviço")
            @Html.DropDownListFor(m => m.CustomerId, Model.ListaTeste ))
            @* @Html.TextBoxFor(c=>c.CustomerId, htmlAttributes: new {@class = "form-control"}) *@
        </div>
        <div class="col-md-6">
            @Html.Label("Data do agendamento")
            <input type="datetime-local" class="form-control" />
            @* <input class="form-control" asp-for="DataTeste" asp-format="{0:yyyy-MM-ddTHH:mm}" /> *@
        </div>
    </div>
        <input type="submit" value="Agendar">
</div>

